/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}
section {
  max-width: 90vw;
}
a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

/* UI Event Classes */
.frontend {
  animation-name: frontend;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
}

@keyframes frontend {
  0% {
    background: var(--secondary);
    color: var(--highlight-primary);
  }
  50% {
    border-color: var(--highlight-secondary);
    background: var(--highlight-secondary);
    color: var(--secondary);
  }
  100% {
    background: var(--secondary);
    color: var(--highlight-primary);
  }
}

/* ------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------ */

.design {
  animation-name: design;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
}

@keyframes design {
  0% {
    transform: scale(1, 1.1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  75% {
    transform: scale(1.1, 1);
  }
  100% {
    transform: scale(1 1);
  }
}

/* ------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------ */

.and {
  animation-name: and;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
}

@keyframes and {
  0% {
    rotate: 360deg;
  }
}

/* ------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------ */

.development {
  animation-name: development;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
}

@keyframes development {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50rem);
  }
}

/* ------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------ */

.sprint5 {
  animation-name: sprint5;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

@keyframes sprint5 {
  0% {
    border-radius: var(--pill);
  }
  50% {
    border-radius: 1rem;
  }
  100% {
    border-radius: var(--pill);
  }
}

/* ------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------ */

.fix {
  animation-name: fix;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
}

@keyframes fix {
  0% {
    rotate: 5deg;
  }
  20% {
    rotate: -10deg;
  }
  40% {
    rotate: 15deg;
  }
  60% {
    rotate: -7deg;
  }
  80% {
    rotate: 12deg;
  }
  100% {
    rotate: -5deg;
  }
}

/* ------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------ */

.the {
  animation-name: the;
  animation-duration: 0.15s;
  animation-iteration-count: 1;
}

@keyframes the {
  0% {
    scale: 0.95;
  }
}

/* ------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------ */

.flow {
  animation-name: flow;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
}

@keyframes flow {
  0% {
    transform: translateX(0.5rem);
  }
  20% {
    transform: translateX(-1rem);
  }
  40% {
    transform: translateX(1.5rem);
  }
  60% {
    transform: translateX(-1rem);
  }
  80% {
    transform: translateX(1.5rem);
  }
  100% {
    transform: translateX(-1rem);
  }
}

/* ------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------ */

.user {
}

/* ------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------ */

/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Jouw animaties */
